.home-content {
    background-color: #f8f9fa!important;
    .container-fluid {
        max-width: 71.25rem;
        margin: 0 auto;
    }
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important
}

.shadow {
    box-shadow: box-shadow !important;
}

.shadow-lg {
    box-shadow: box-shadow-lg !important;
}

.shadow-none {
    box-shadow: none !important;
}