<section class="home-content py-5">
    <div class="container-fluid mt-4">

        <!-- we use a temp div so that the DOM will only be rendered/drawn once we already have data -->
        <div *ngIf="isDataLoaded">

            <div class="row" id="bookCards">
                <div *ngFor="let book of bookArray; let i=index" class="col-md-4 shadow-sm">
                    <div class="book-img-div-size">
                        <p>BOOK IMAGE</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text book-title">
                            BOOK TITLE
                            <br>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="center-margin">
                                <button class="btn btn-sm">
                                   <img src="https://img.icons8.com/dusk/64/000000/add--v2.png" class="icon-size">
                                </button>
                                <button class="btn btn-sm">
                                    <img src="https://img.icons8.com/dusk/64/000000/delete-sign.png" class="icon-size">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>