<!-- APP COMPONENT will always be present in our DOM. All codes written in this file will be rendered ALWAYS -->
<!-- Typically, we place navbars, headers, and footers here since they are always present in a website -->
<header>

    <div class="navbar navbar-dark book-bg-lgreen shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/dusk/64/000000/book-shelf.png" width="40" height="40">
                <strong>&nbsp;Books</strong>
            </a>
            <div style="width: 30%;">
                <input onkeyup="searchBook()" id="searchFilter" type="text" class="form-control" placeholder="Search Title or description" aria-label="Book Title...">

            </div>
            <button class="navbar-toggler" type="button" (click)="toogleCollapsed()" aria-controls="cartItems" aria-expanded="false" aria-label="Toggle navigation">
				<img src="https://img.icons8.com/cute-clipart/64/000000/shopping-cart.png" width="40" height="40">
			</button>
        </div>
    </div>
    <div class="" id="cartItems" [ngbCollapse]="isCollapsed">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 py-4">
                    <h4>Cart Items</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <div id="cart-items"></div>
                        </div>
                        <div class="col-md-3 no-padding">
                            <div id="cart-price"></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-md-6 py-4">
                    <h4>Total: $<span id="total-price"></span></h4>
                </div>
            </div>
        </div>
    </div>

</header>

<!-- This is where our components will be rendered -->
<router-outlet>

</router-outlet>