.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.book-bg-lgreen {
    background-color: #a1d5ad!important;
}

.book-img-size {
    max-width: fit-content;
    align-content: center;
    margin-top: 20px;
}

.icon-size {
    width: 50px;
}

.book-title {
    color: #fff;
    background: #a1d5ad;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.no-padding {
    padding: 0rem;
}

.center-margin {
    margin: auto;
}

.card {
    height: 395px;
}

.book-img-div-size {
    margin-left: auto;
    margin-right: auto;
    height: 75%;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}